@import "schemes.css";

.Main form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--alt);
    height: 80vh;
    width: 550px;
    padding: 20px;
    border-radius: 30px;
    backdrop-filter: blur(20px);
}

.Notice {
    text-align: center;
}

.Main form .Notice h1 {
    font-size: 1.7rem;
    color: var(--fg);
}

.Main form .Notice span {
    padding: 0px 10px;
    background: linear-gradient(45deg, var(--green), var(--blue));
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Main form .Notice p {
    font-size: 1.1rem;
    background: linear-gradient(45deg, var(--green), var(--blue));
    background-size: 400% 100%;
    animation: degrade 20s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FormBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.Local {
    display: flex;
    gap: 10px;
}

input {
    width: 100%;
    padding: 14px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    background-color: var(--bg);
    color:var(--fg);
    font-weight: 600;
}


.Require {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--fg);
    font-weight: bold;
    font-size: 18px;
}

.Type input {
    font-size: 16px;
    font-weight: bold;
    color: var(--fg);
    cursor: none;
}

textarea {
    background-color: var(--bg);
    color: var(--fg);
    min-height: 10rem;
    padding: 10px;
    resize: vertical;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 10px;
}

textarea::placeholder {
    color: var(--fg);
}

form .Buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Buttons button {
    padding: 10px 20px;
    border: none;
    background-color: var(--bg);
    color: var(--fg);
    font-size: 18px;
    transition: .3s;
    border-radius: 10px;
}

.Buttons button:hover {
    background: var(--green);
    background: linear-gradient(90deg, var(--blue) 0%, var(--blue) 0%, var(--green) 100%);
}

.Buttons button:disabled {
    color: var(--fg);
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .Main {
        padding: 10px;
    }

    .Main form {
        height: 90vh;
        width: 340px;
    }

    .Main form .Notice h1 {
        font-size: 1.1rem;
    }

    .Main form .Notice span {
        font-size: 1rem;
    }

    .Main form .Notice p {
        font-size: .8rem;
    }

    input, textarea {
        font-size: 12px;
        padding: 10px 8px;
    }

    label {
        font-size: 14px;
    }

    .Buttons button {
        font-size: 14px;
        padding: 8px 12px;
        margin-top: 20px;
    }

    .Main .CircleMain::after {
        transform: translate(-50px, 450px) rotate(20deg);
    }
    
    .Main .CircleMain::before {
        transform: translate(190px, 50px) rotate(20deg);
    }
    
}