@import "schemes.css";

.TitleName{
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}


.TitleName h1 {
    font-size: 2.8rem;
    background: linear-gradient(45deg, var(--green), var(--blue));
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 50%;
}

.TitleName h3{
    background: linear-gradient(45deg, var(--green), var(--blue));
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.SubTitle{
    text-align: start;
    width: 50%;
    border-left: solid 1px var(--green);
    padding: 10px;
}

.Menu {
    background-color: var(--alt);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 550px;
    padding: 20px;
    border-radius: 30px;
    backdrop-filter: blur(20px);
}

.Menu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    gap: 20px;
}

.MainMenu nav li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
    width: 300px;
    border-radius: 4px;
    color: var(--fg);
    font-size: 1.3em;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.MainMenu nav li:hover {
    background: linear-gradient(45deg, var(--green), var(--blue));
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2) translate(50px);
}

.MainMenu nav li.active {
    background-color: var(--blue);
    color: var(--fg);
    transform: scale(1.2) translate(50px);
}

.MainMenu nav .Icon {
    font-size: 1.3rem;
}

.MainMenu button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 20px;
    font-size: 1.3rem;
    color: var(--fg);
    background-color: var(--bg);
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 1s;
}

.MainMenu button .Icon {
    font-size: 32px;
}

.MainMenu button:hover {
    background: var(--green);
    background: linear-gradient(90deg, var(--blue) 0%, var(--blue) 0%, var(--green) 100%);
}

@media (max-width: 768px) {
    .Menu {
        height: 95vh;
        width: 100%;
        padding: 20px;
    }

    .Menu h1 {
        font-size: 2.3rem;
    }

    .Menu h3 {
        font-size: .9rem;
    }

    .Menu nav {
        gap: 10px;
        height: 70vh;
    }

    .MainMenu nav li {
        font-size: 1.4rem;
    }

    .MainMenu nav .Icon {
        font-size: 1.4rem;
    }

    .MainMenu button {
        font-size: 1.2rem;
        padding: 8px 12px;
    }

    .MainMenu button .Icon {
        font-size: 1.2rem;
    }
}